/*BASE NONSENSE ----------------------*/
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

body{
    margin: 0px;
}

/* ROUND COUNTER-------------------------------------*/

.roundCounter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actualCounter{
    display: flex;
}

.actualCounter h2{
    margin: .4em
}


/* ROUND WIN BAR -----------------------------------------*/

.roundWinBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}


.bar{
    height: 12vw;
    width: 5px;
    background-color: grey;
}

.player{
    display: flex;
    gap: 10px;
}

.winCounter{
    width: 5vw;
    height: 5vw;
    border: 5px solid black;
}

/* ACTION PICKER -----------------------------------------*/

.actionPickers{
    display: flex;
    justify-content: space-evenly;
}

.picker{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 20vh;
    width: 20vw;
    background-color: slategray;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actionIcon{
    height: 6vh;
    width: 6vh;
}

.taunt{
    grid-area: 2/2/3/3;
}

/*FOOTER ----------------------------*/
.footer{
    margin-top: auto;
    background-color: grey;
    height: 2rem;
}